@font-face {
  font-family: 'iconfont'; /* Project id 3989967 */
  src:
    url('//at.alicdn.com/t/c/font_3989967_r3d0kbyft9.woff2?t=1695357979175') format('woff2'),
    url('//at.alicdn.com/t/c/font_3989967_r3d0kbyft9.woff?t=1695357979175') format('woff'),
    url('//at.alicdn.com/t/c/font_3989967_r3d0kbyft9.ttf?t=1695357979175') format('truetype'),
    url('//at.alicdn.com/t/c/font_3989967_r3d0kbyft9.svg?t=1695357979175#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: '\e61b';
}

.icon-fuzhi1:before {
  content: '\e8b0';
}

.icon-back:before {
  content: '\e6db';
}

.icon-shangchuan:before {
  content: '\e611';
}

.icon-wenti:before {
  content: '\e612';
}

.icon-wenhao:before {
  content: '\e613';
}

.icon-cunchu:before {
  content: '\e614';
}

.icon-yulan:before {
  content: '\e615';
}

.icon-bangzhu:before {
  content: '\e616';
}

.icon-xianliaoduihua:before {
  content: '\e617';
}

.icon-weixindenglu:before {
  content: '\e618';
}
